@import url('https://fonts.googleapis.com/css?family=Assistant');

body {
  margin: 0;
  font-family: "Assistant",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

  
.expandIconStyle{
  line-height:1;
  margin:auto;
  font-size:medium;
  padding:5px;
  border:1px solid;
  border-radius:100%;
  color:white;
  background:lightseagreen;
  transform:  rotate(180deg);
  transition: 200ms;

}

.expandIconStyleExpanded {
line-height:1;
margin:auto;
font-size:medium;
padding:5px;
border:1px solid;
border-radius:100%;
color:white;
background:lightseagreen;
transform:  rotate(0deg);
transition: 200ms;

}
